extends layout.pug

block content
  if user
    p You've logged in as #[strong= user.name]
    a(href='/logout') Logout
    br
    a(href='/u') Go to your TODO list
  else
    p You're not logged in
    a(href='/login') Login
    |  or #[a(href='/register') Register]
    br
    a(href='/local-todo') Proceed without login
